body {
  padding: 1em;
}

ul {
  display: block;
  margin: 1rem auto 2rem;
  overflow: hidden;
}

.pager {
  float: left;
  display: block;
  height: 25px;
  text-align: center;
  margin-right: 5px;
  border: 1px solid #aaa;
}

.pager.active a {
  background-color: #000;
  color: #fff !important;
}

.pager a {
  padding: 5px;
  line-height: 25px;
  text-decoration: none;
}